/logs/
/.env
/airflow.cfg
/airflow.db
/airflow.db-shm
/airflow.db-wal
/simple_auth_manager_passwords.json.generated
/airflow_rag.egg-info/
/qdrant-learning/
/main.py
/scripts/
/test.py
/dags/tutorial/
